AI-Powered message Assistant.json
{
  "name": "AI-Powered message Assistant",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "419bccee-a553-42fe-b4a7-bbe4d16c56db",
              "name": "userMessage",
              "value": "={{ $json.body.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sessionId",
              "value": "={{ $json.messages[0].from }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        256
      ],
      "id": "1a84f558-7ace-4233-b8d4-f54db1c4e404",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://gate.whapi.cloud/media/{{ $json.body.messages[0].voice.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "o6inQk75kQFwGFYpp3SqZEknwdR8zJyW"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "f0be10d8-23e5-4f43-aba7-0abd9ac37d92",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7xDsYNGfFshjGF8s",
          "name": "Whapi"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://gate.whapi.cloud/media/{{ $json.body.messages[0].image.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "o6inQk75kQFwGFYpp3SqZEknwdR8zJyW"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        544
      ],
      "id": "5aee2de3-1c5f-406f-8d09-1996724267aa",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7xDsYNGfFshjGF8s",
          "name": "Whapi"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46feedf9-c0d7-41b5-aff4-56af4d23effc",
              "name": "userMessage",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sessionId",
              "value": "={{ $json.body.messages[0].from }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        0
      ],
      "id": "5e06a946-948e-4b83-89c0-95673675bada",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "inputType": "base64",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        480,
        544
      ],
      "id": "201b939a-f5d6-4d05-b54b-92734457aff2",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "3vrNMrijvhkM6iOr",
          "name": "Pulse's OpenAi Connection"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c039de77-7d0b-45a3-8e82-361bcce6c074",
              "name": "userMessage",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sessionId",
              "value": "={{ $json.body.messages[0].from }}\n",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        544
      ],
      "id": "ea457059-f0c9-4914-90f4-bc82024044fd",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userMessage }}",
        "options": {
          "systemMessage": "Response Rules:\n\nBe concise, clear, and WhatsApp-style.\n\nSound polite, calm, and human.\n\nMax 1 emoji, only if appropriate.\n\nNever mention AI, automation, vectors, or internal systems.\n\nNever guess. If data is missing, ask clearly.\n\nIf the issue is complex, escalate to human support.\n\nKeep replies under 80 words unless instructed otherwise.\n\nData Access:\n\nAll store data (orders, policies, products, returns) is stored in Supabase.\n\nAlways retrieve factual answers from Supabase before responding.\n\nRespond only with verified information from the database."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1104,
        0
      ],
      "id": "46ab3762-52d9-4ce2-b91c-fb838e2fc544",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1008,
        176
      ],
      "id": "7e1f63e4-a406-4d26-bd39-4d7e0238d9b5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3vrNMrijvhkM6iOr",
          "name": "Pulse's OpenAi Connection"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.body.messages[0].type }}",
              "rightValue": "=audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1824,
        16
      ],
      "id": "97a6ee84-57af-40fc-a083-3d2d2f88e712",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1808,
        656
      ],
      "id": "c1325fea-f515-40d0-9a49-15283d837bee",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "3vrNMrijvhkM6iOr",
          "name": "Pulse's OpenAi Connection"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.messages[0].type }}",
                    "rightValue": "voice",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "486f3050-5b29-4c98-82e8-b48c30c5fb56"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7d9bc057-a2d1-4f81-93f1-936c3ab8c01a",
                    "leftValue": "={{ $json.body.messages[0].type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "20a0e085-53b6-42c4-9b56-9638266c9323",
                    "leftValue": "={{ $json.body.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6a9c3c30-e328-41f2-bb9d-22e4da261a0b",
                    "leftValue": "={{ $json.body.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -192,
        240
      ],
      "id": "e21ce724-01bc-4a82-8bcf-7abdfeefe20a",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        464,
        0
      ],
      "id": "75bed9f0-b1b2-4d08-a950-07ce4e8820f2",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "3vrNMrijvhkM6iOr",
          "name": "Pulse's OpenAi Connection"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        992,
        368
      ],
      "id": "b5688f93-2d22-4783-a7d2-25ef648f8398",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "before answering just think again"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1424,
        160
      ],
      "id": "afb26640-07e6-4f75-8eab-53822d226cd9",
      "name": "Think"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1168,
        480
      ],
      "id": "efe38860-6170-4bce-9400-5eb97ecec32b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3vrNMrijvhkM6iOr",
          "name": "Pulse's OpenAi Connection"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve data",
        "tableName": {
          "__rl": true,
          "value": "products",
          "mode": "list",
          "cachedResultName": "products"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1136,
        288
      ],
      "id": "22714fd0-1106-4242-a1d2-e8cf2e26e1d2",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "OaHwzQrJYO4VuYLV",
          "name": "Supabase account i2i"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "94a82b84-dfd0-4c7f-a0cf-33527f4211b2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        272
      ],
      "id": "57f65ec9-e47d-4cb8-9b50-ad031551fe33",
      "name": "Webhook",
      "webhookId": "94a82b84-dfd0-4c7f-a0cf-33527f4211b2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "o6inQk75kQFwGFYpp3SqZEknwdR8zJyW"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $node[\"Webhook\"].json[\"body\"][\"messages\"][0][\"from\"] }}"
            },
            {
              "name": "body",
              "value": "={{ $node[\"AI Agent\"].json[\"output\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2096,
        32
      ],
      "id": "205fe778-a585-44aa-be32-990242b83614",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7xDsYNGfFshjGF8s",
          "name": "Whapi"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/voice",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "o6inQk75kQFwGFYpp3SqZEknwdR8zJyW"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $node[\"Webhook\"].json.body.messages[0].from }}"
            },
            {
              "name": "media",
              "value": "={{ $node[\"Generate audio\"].json[\"url\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2240,
        656
      ],
      "id": "3fe211af-7e3f-44d1-9b1a-e570ca20ebd2",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7xDsYNGfFshjGF8s",
          "name": "Whapi"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📋 WhatsApp AI Support Bot\n\nReceives messages from customers on WhatsApp — including voice notes, images, and text — and replies automatically using AI. The bot looks up your product data to give accurate answers, remembers the conversation, and replies in the same format the customer used (voice gets a voice reply, text gets a text reply).\n\n⏱ **Runs:** Instantly, every time a customer sends a WhatsApp message\n✅ **Result:** Customer receives an AI-generated reply in WhatsApp within seconds, pulled from your real product database",
        "height": 232,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        -656
      ],
      "id": "b9bb9993-60e9-48c6-932b-3d4ac61f2afb",
      "name": "Overview"
    },
    {
      "parameters": {
        "content": "## 🔧 What You Need\n\n1. **Whapi Account + API Key** — the service that connects your WhatsApp number to this workflow → https://whapi.cloud\n2. **OpenAI API Key** — powers the AI replies, voice transcription, image reading, and audio generation → https://platform.openai.com/api-keys\n3. **Supabase Project** — stores your product data that the bot searches when answering questions → https://app.supabase.com/account/tokens\n4. **Supabase `products` Table** — must exist and be populated with your product info (text chunks + vector embeddings) before the bot can answer product questions\n\n⚠️ Complete everything above before running the workflow.",
        "height": 320,
        "width": 636,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        -384
      ],
      "id": "0d151eb4-23f9-4460-a54e-4d271690e8c0",
      "name": "What You Need"
    },
    {
      "parameters": {
        "content": "## ⚙️ How to Configure\n\n1. **Open \"HTTP Request\", \"HTTP Request1\", \"HTTP Request2\", \"HTTP Request3\"** → find the Authorization header in each → replace `o6inQk75kQFwGFYpp3SqZEknwdR8zJyW` with your actual Whapi API key → https://whapi.cloud\n2. **Open \"Transcribe a recording\", \"Analyze image\", \"Generate audio\", \"OpenAI Chat Model\"** → click the OpenAI credential field → connect your OpenAI account\n3. **Open \"Supabase Vector Store\"** → click the Supabase credential field → connect your Supabase account → confirm the table is set to `products`\n4. **Open \"AI Agent\"** → review the system message to match your store's tone and policies — update the instructions to reflect your actual return policy, brand voice, or escalation rules\n5. **Set up your Webhook URL** → copy the webhook URL from the \"Webhook\" step → paste it into your Whapi dashboard as the incoming message destination → https://whapi.cloud\n\n💡 The bot replies with a voice message only when the original message was a voice note — for all other types it replies with text. No changes needed for this to work, but test with a voice note first to confirm audio replies are working.",
        "height": 464,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        -16
      ],
      "id": "35f24ca0-27da-46e7-8df0-735ad78761d1",
      "name": "How to Configure"
    },
    {
      "parameters": {
        "content": "## ▶️ How to Run\n\n**Starts:** Automatically every time a WhatsApp message is received — no manual action needed once active.\n\n**To test it now:**\n1. Activate the workflow, then send a WhatsApp text message to your connected number\n2. Watch the execution appear in n8n — check the \"AI Agent\" step for the generated reply\n3. Confirm the reply arrives in WhatsApp within 5–10 seconds\n\n✅ **Working if:** A reply appears in WhatsApp matching the message type you sent (text → text, voice → voice)\n❌ **If it fails:** Open \"HTTP Request2\" — your Whapi API key in the Authorization header is most likely missing or incorrect",
        "height": 360,
        "width": 644,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1344,
        528
      ],
      "id": "eb801879-e5ca-4974-a99a-92c1b2878d60",
      "name": "How to Run"
    },
    {
      "parameters": {
        "content": "### STEP 1 — RECEIVE & ROUTE MESSAGE\nAccepts the incoming WhatsApp message and checks whether it's a voice note, text, image, or audio file — then sends it down the right path",
        "height": 352,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        144
      ],
      "id": "a549e5df-51e0-48f6-8de9-0df4aacf3bd7",
      "name": "Section: Route"
    },
    {
      "parameters": {
        "content": "### STEP 2 — PROCESS MESSAGE CONTENT\nConverts voice to text, reads images, or passes text through — everything becomes a plain text message the AI can understand",
        "height": 920,
        "width": 804,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -160
      ],
      "id": "50d2bae2-50ec-4503-89c4-e67903241158",
      "name": "Section: Process"
    },
    {
      "parameters": {
        "content": "### STEP 3 — AI AGENT + PRODUCT LOOKUP\nThe AI reads the message, searches your product database for relevant info, remembers previous messages in the conversation, and generates a reply",
        "height": 948,
        "width": 724,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        -160
      ],
      "id": "af366aec-224e-4ca5-b00a-d350c6e03bec",
      "name": "Section: AI"
    },
    {
      "parameters": {
        "content": "### STEP 4 — SEND REPLY\nChecks if the original message was a voice note — if yes, converts the reply to audio and sends it back; if no, sends a text reply",
        "height": 404,
        "width": 636,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1792,
        -144
      ],
      "id": "90468abe-5a45-4c2e-91b8-c7afe516ffd3",
      "name": "Section: Reply"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "45960017-8458-4abe-bd57-a938d173c9ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e10b2caeeedbb7486aebdd0a7fd0d0332b1fb8ce1536a7aa9fd243d9087c9301"
  },
  "id": "kMuaWIYYv8Zvb2762GoIt",
  "tags": []
}